.card 
{
  height:250px;
  width:600px;
  border:1px hidden #666;
  background:#fff;
  box-sizing:border-box;
  padding:40px 20px 30px 20px;
  box-shadow: 5px 5px 20px rgb(198, 196, 196);
  margin:30px 0;
  display: flex;
}

.left 
{
  flex:70%;  
  height:120px;
  width:120px;
  overflow:hidden;
  border-radius:50%;
  display:inline-block;
}

.left img 
{
    max-width : 100%;
}

.right 
{
  flex:30%;  
  display:inline-block;
  margin:0 10px;
}